<div class="container mt-2">
    <div *ngFor="let item of posts" class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://placehold.it/35" class="img img-rounded img-fluid" />

                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left mr-2" [routerLink]="['user', item.createdBy.id]"><strong>{{item.createdBy.email}}</strong></a>
                        <span class="text-secondary" title="Date created">{{item.createdAt | date}}</span>
                        <span class="float-right text-muted">4 comments</span>
                    </p>

                    <div class="clearfix"></div>
                    <p>{{item.content}}</p>
                </div>
            </div>
            <div>
                <div class="pl-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <img src="https://placehold.it/35" class="img img-rounded img-fluid" />

                                <span>
                                    <a [routerLink]="['user', item.userId]"><strong>test@test.com</strong></a>
                                </span>

                                <span>
                                    comment bla bla bla
                                </span>
                            </div>

                            <div>
                                <a [routerLink]="['.']">Like</a>
                                <span> · </span>
                                <a [routerLink]="['.']">Reply</a>
                                <span> · </span>
                                <span class="text-secondary text-center">2h</span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>