// https://coolors.co/export/pdf/faf3dd-c8d5b9-419c9b-8fc0a9-18435a
$beige: #FAF3DD;
$pale-silver: #C8D5B9;
$keppel: #419C9B;
$eton-blue: #8FC0A9;
$japanese-indigo: #18435A;

/* Coolors Exported Palette - coolors.co/faf3dd-c8d5b9-419c9b-8fc0a9-18435a */

/* HSL */
$color1: hsla(46%, 74%, 92%, 1);
$color2: hsla(88%, 25%, 78%, 1);
$color3: hsla(179%, 41%, 43%, 1);
$color4: hsla(152%, 28%, 66%, 1);
$color5: hsla(201%, 58%, 22%, 1);

/* RGB */
$color1: rgba(250, 243, 221, 1);
$color2: rgba(200, 213, 185, 1);
$color3: rgba(65, 156, 155, 1);
$color4: rgba(143, 192, 169, 1);
$color5: rgba(24, 67, 90, 1);