@import './_very-variables';

.btn-primary {
    color: #fff;
    background-color: $keppel;
}

.btn-primary:hover {
    color: #fff;
    background-color: $eton-blue;
}

body a {
    color: #fff;
}

body a:hover {
    background-color: $japanese-indigo;
    text-decoration: none;
}