<form class="form-signin" [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <img class="mb-4" src="assets/logo.png" alt="" width="330">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <div class="pt-3 pb-3" style="position:relative">
        <input type="email" class="form-control" placeholder="Email address" formControlName="email" name="email"
            (focus)="errorMessage = false" required autofocus>
        <show-errors [control]="userform.controls.email" [ngClass]="{'show' : (userform.get('email').dirty || userform.get('email').touched) && userform.controls.email.errors}"></show-errors>
    </div>

    <div style="position:relative">
        <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password"
            (focus)="errorMessage = false" required>
        <show-errors [control]="userform.controls.password" [ngClass]="{'show' : (userform.get('password').dirty || userform.get('password').touched) && userform.controls.password.errors}"></show-errors>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-3 mb-2 text-muted">
        <a [routerLink]="['/register']">Dont't have account?</a>
    </p>
    <div class="text-muted font-weight-light font-italic">
        <a [routerLink]="['/forgot-password']" style="font-size: 0.8em">
            Forgot Password?
        </a>
    </div>
</form>

<div *ngIf="errorMessage" style="color:red;text-align: center;width:100%;">{{errorMessage}}</div>