@import './../../../../../themes/very.scss';

:host {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    background: $keppel;
    color: #fff;
    transition: all 0.3s;
    #sidebar {
        padding-top: 20px;
        text-align: center;
        a {
            color: #fff;
            &:hover {
                color: $pale-silver;
            }
            &.active {
                color: $japanese-indigo;
            }
        }
    }
    .sidebar-footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        box-shadow: 0px 3px 10px rgba(0,0,0,.8);
        > a {
            display: block;
            width: 100%;
        }
    }
}