<div class="main"><div id="body"><div class="container" style="margin-top: -6px;">
        <div class="row border-primary-bottom vertical-align landing-cover-image" style="background-image: url('https://www.veryconnect.com/uploads/images/fc657ad0e12c8e914c026a701c310a99.png');" title="VeryConnect quality membership software">
        <div class="col-md-12 text-center" style="height: 100%;">
        <h1 style="color: white; font-weight: 600; text-align: center; padding-top: 2em; font-size: 2.5em;">Quality Membership Software</h1>
        <h2 style="color: white; font-weight: 600;">All-in-one solutions to manage and engage your members online</h2>
        <div class="col-md-4 col-md-offset-4 text-center" style="padding-top: 5em;"><a href="/request-demo" class="btn btn-danger btn-lg">Request a Demo</a>
        <p style="color: white; padding-top: 7em; font-size: 20px;">Learn More <br><i class="fa fa-chevron-down"></i></p>
        </div>
        </div>
        </div>
        <div class="row text-center border-primary-bottom" style="color: #666; padding-top: 2em; padding-bottom: 2em;">
        <div class="col-md-10 col-md-offset-1">
        <h2><strong>How can VeryConnect's membership software help you?</strong></h2>
        <p></p>
        <br>
        <p style="text-align: center;">VeryConnect gives you an all-in-one membership software solution. Select the features you want to make administration easy and increase member engagement. Popular features help you to manage memberships and payments, automate member communications, and boost member networking.</p>
        <br>
        <p style="text-align: center;">The software is tailored to your branding, and its quality helps you to keep member data safe at all times. We can integrate with your current systems, and you and your members can access the software online and from any device.</p>
        <br>
        <p style="text-align: center;">Our helpful team is based in the UK. We guide you through the software implementation and always remain with you for strategic support.</p>
        <p></p>
        <p></p>
        </div>
        </div>
        <div class="row bg-gray text-center" style="padding-bottom: 0;">
        <h2 style="color: #4d4d4d;"><b>What Makes our Membership Software Outstanding?</b></h2>
        </div>
        <div class="row text-center bg-gray equal">
        <div class="col-md-4 border-primary bg-white"><br>
        <h3 style="color: #649c9c;" class="bg-white"><b><i class="fa fa-check-circle-o fa-4x fa-fw"></i></b></h3>
        <h3 style="color: #6a6a6a;" class="bg-white"><b>Quality You can Rely On<br></b></h3>
        <h4 class="text-gray bg-white">Secure and reliable technology in line with the highest standards of engineering. Modern layout with intuitive navigation for your team and members.</h4>
        </div>
        <div class="col-md-4 border-primary bg-white"><br>
        <h3 style="color: #649c9c;" class="bg-white"><b><i class="fa fa-gift fa-4x fa-fw"></i></b></h3>
        <h3 style="color: #6a6a6a;" class="bg-white"><b>Tailored to Your Needs</b></h3>
        <h4 class="text-gray bg-white">An all-in-one solution with your selected admin and member features. Always in line with your branding and including your desired integrations.</h4>
        </div>
        <div class="col-md-4 border-primary bg-white"><br>
        <h3 style="color: #649c9c;" class="bg-white"><b><i class="fa fa-group fa-4x fa-fw"></i></b></h3>
        <h3 style="color: #6a6a6a;" class="bg-white"><b>Friendly Strategic Support</b></h3>
        <h4 class="text-gray bg-white">Our customers say that we are great to work with. We help you during the implementation process and with ongoing strategic support.</h4>
        </div>
        </div>
        <div class="row border-primary-bottom equal">
        <div class="col-md-3 vertical-align"><img style="padding: 10px; max-height: 100px;" class="img-responsive center-block" src="https://www.veryconnect.com/uploads/images/62e243996973738fd76edf4783cad798.png" alt="torishima"></div>
        <div class="col-md-3 vertical-align"><img style="padding: 10px;" class="img-responsive center-block" src="https://www.veryconnect.com/uploads/images/6858e42451610ca65157037cacac17b9.png" alt="Social Policy Association"></div>
        <div class="col-md-3 vertical-align"><img style="padding: 10px; max-height: 100px;" class="img-responsive center-block" src="https://www.veryconnect.com/uploads/images/a5634139810c944f6f28bf9f45148e9d.png" alt="University of the Highlands and Islands"></div>
        <div class="col-md-3 vertical-align"></div>
        </div>
        <div class="row border-primary-bottom" style="padding: 0px 0px 0px;">
        <div class="col-sm-6 text-center" style="height: 380px; background-size: cover; background-image: url('https://www.veryconnect.com/uploads/images/6819c49826488e871ae1bbc47ad106c3.png'); display: flex; align-items: center;" title="VeryConnect membership software team"><a href="/about" style="width: 100%;"> <span style="font-size: 41px; color: #ffcb64; font-weight: 600;"> Learn more <br>about us </span> </a></div>
        <div class="col-sm-6 text-center" style="height: 380px; background-size: cover; background-image: url('https://www.veryconnect.com/uploads/images/6b20f6db89dc740fe8d094ffa2fa9aa9.png'); display: flex; align-items: center;"><a href="/blog/creating-a-powerful-members-area-for-experts" style="width: 100%;" title="VeryConnect membership software success stories"> <span style="font-size: 41px; color: #ffcb64; font-weight: 600;">Read our latest <br>success story</span></a></div>
        </div>
        <div class="row text-center" style="padding-top: 3em;">
        <div class="col-sm-7"><img src="https://www.veryconnect.com/uploads/images/41cdf4bd88050514f878961bbe4eb871.png" alt="VeryConnect responsive membership software"></div>
        <div class="col-sm-5">
        <p style="padding-top: 1em; color: #666; font-size: 25px; font-weight: 600;">Request a demo to learn more about what we offer</p>
        <div class="text-center" style="padding-top: 2em;"><a href="/request-demo" class="btn btn-danger btn-lg" style="padding-left: 15px; padding-right: 15px;">Request a Demo</a></div>
        </div>
        </div>
        </div></div><div class="container-fluid">
          <div class="row border-primary-bottom equal">
            <div class="col-md-3 vertical-align"><img style="padding: 10px; max-height: 100px;" class="img-responsive center-block" src="https://www.veryconnect.com/images/rank_fund.png" alt="Rank Foundation"></div>
            <div class="col-md-3 vertical-align"><img style="padding: 10px;" class="img-responsive center-block" src="https://www.veryconnect.com/uploads/images/e51badec50198aec145ffedefcfddcd3.png" alt="University of Glasgow"></div>
            <div class="col-md-3 vertical-align"><img style="padding: 10px; max-height: 100px;" class="img-responsive center-block" src="https://www.veryconnect.com/uploads/images/6b6342e5aafc79afbef1a30195884b78.png" alt="International Research Society for Public Management"></div>
            <div class="col-md-3 vertical-align"></div>
          </div>
        </div>
        <div class="contact-footer" id="contact-form-anchor">
          <div class="container">
            <div class="col-md-5 col-md-offset-1 border-white-right">
              <h3 style="font-weight:700;">Get In Touch</h3>
              <br>
              <div id="contact-alertbox" class="alert" style="display: none;"></div>
              <form id="contact-form" class="form-horizontal ng-pristine ng-valid" style="padding-right:20%;">
                <input type="hidden" name="page" value="home">
                <div class="form-group">
                  <div class="col-sm-9">
                    <label> Name* </label>
                    <input class="form-control" id="ContactName" name="name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-9">
                    <label> Email* </label>
                    <input class="form-control" id="ContactEmail" name="email" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-9">
                    <label> Phone </label>
                    <input class="form-control" id="ContactPhone" name="phone" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-9">
                    <label> Enquiry </label>
                    <textarea class="form-control" cols="24" id="ContactEnquiry" name="enquiry" rows="5" style="resize:none"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h3 style="font-weight:700;">Find us:</h3>
              <br>
              <i style="padding-bottom:5px" class="fa fa-facebook-square fa-2x fa-fw"></i> <a style="padding-left: 30px;" href="http://facebook.com/veryconnect" target="_blank"> veryconnect </a> <br>
              <i style="padding-bottom:5px" class="fa fa-twitter fa-2x fa-fw"></i> <a style="padding-left: 30px;" href="http://www.twitter.com/veryconnect" target="_blank"> @veryconnect </a> <br>
              <i style="padding-bottom:5px" class="fa fa-linkedin-square fa-2x fa-fw"></i> <a style="padding-left: 30px;" href="http://www.linkedin.com/company/veryconnect" target="_blank"> veryconnect </a> <br>
              <i style="padding-bottom:5px" class="fa fa-google-plus-square fa-2x fa-fw"></i> <a style="padding-left: 30px;" href="https://plus.google.com/+Veryconnect-Membership-Management-Software" target="_blank"> veryconnect </a> <br>
              <i style="padding-bottom:5px" class="fa fa-youtube-square fa-2x fa-fw"></i> <a style="padding-left: 30px;" href="https://www.youtube.com/channel/UC2H4o5yZVWZdobkL1jC-86Q" target="_blank"> veryconnect </a> <br>
              <br>
              <br>
              <p>27 Woodside Place<br>
                 Glasgow<br>
                 G3 7QL<br>
                 Scotland<br>
                 <a href="tel:+441414591024">+44 (0)141 459 1024</a><br>
                         VAT Registration No: GB 270 711 130
              </p>
              <br>
              <br>
              <p>We are a <strong>Living Wage Employer</strong> and
              a <strong>Carbon Offset Company. </strong></p>
            </div>
          </div>
        </div>
        <div class="footer" style="margin-top:0px">
          <div class="container">
            <div class="col-md-8 col-md-offset-1">
              <p>© VeryConnect Ltd, 2013 - 2018, SC465109 - <a href="/privacy-policy">Privacy Policy</a></p>
            </div>
          </div>
        </div>
        </div>