<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Brand name</h3>
    </div>
    <div class="text-left">
        <div class="avatar">
            Hello, {{user.email}}
        </div>
        <div *ngFor="let item of menuItems">
            <a [routerLink]="[item.link]" routerLinkActive="active">
                <i class="{{item.icon}}" style="width:35px;text-align: center;"></i>
                <span>{{item.label}}</span>
            </a>
        </div>
    </div>

    <div class="sidebar-footer">
        <a (click)="signOut()" [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i>Sign out</a>
    </div>
</nav>