<form class="form-signin" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm.value)">
    <img class="mb-4" src="assets/logo.png" alt="" width="330">
    <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
    <div class="pt-3 pb-3">
        <input type="email" class="form-control" placeholder="Email address" formControlName="email" name="email"
            (focus)="errorMessage = ''" required autofocus="true">
        <show-errors [control]="forgotpasswordForm.controls.email" [ngClass]="{'show' : (forgotpasswordForm.get('email').dirty || forgotpasswordForm.get('email').touched) && forgotpasswordForm.controls.email.errors}"></show-errors>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Send email</button>
</form>

<div *ngIf="errorMessage" style="color:red;text-align: center;width:100%;">{{errorMessage}}</div>