<form class="form-signup" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <img class="mb-4" src="assets/logo.png" alt="" width="330">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <div class="pt-3 pb-3" style="position:relative">
        <input type="email" class="form-control" placeholder="Email address" formControlName="email" name="email"
            (focus)="errorMessage = false" required autofocus>
        <show-errors [control]="registerForm.controls.email" [ngClass]="{'show' : (registerForm.get('email').dirty || registerForm.get('email').touched) && registerForm.controls.email.errors}"></show-errors>
    </div>

    <div style="position:relative">
        <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password"
            (focus)="errorMessage = false" required>
        <show-errors [control]="registerForm.controls.password" [ngClass]="{'show' : (registerForm.get('password').dirty || registerForm.get('password').touched) && registerForm.controls.password.errors}"></show-errors>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-3 mb-2">
        <a [routerLink]="['/login']">Already have an account?</a>
    </p>
</form>